body
{
	font-family:Times New Roman, Arial, Verdana, serif, sans-serif;
	font-size:13px;
	background-color: #87CEFA;
}
.logo
{
	margin-left:40%;
}
#menus, #menus ul
{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}
#menus li
{
	display:inline-block;
	position:relative;
	border-radius:8px 8px 0 0;
}
#menus ul li
{
	display:inherit;
	border-radius:0;
}
#menus ul li:hover
{
	border-radius:0;
}
#menus ul li:last-child
{
	border-radius:0 0 8px 8px;
}
#menus ul
{
	position:absolute;
	z-index: 1000;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;
	-moz-transition: .8s all .3s;
	-webkit-transition: .8s all .3s;
	transition: .8s all .3s;
}
#menus li:hover ul
{
	max-height:15em;
}
/* background des liens menus */
#menus li:first-child
{
	background-color: #65537A;
	background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
	background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
#menus li:nth-child(2)
{
	background-color: #729EBF;
	background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
	background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
#menus li:nth-child(3)
{
	background-color: #F6AD1A;
	background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
	background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
#menus li:last-child
{
	background-color: #CFFF6A;
	background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
	background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}
/* background des liens sous menus */
#menus li:first-child li
{
	background:#2A2333;
}
#menus li:nth-child(2) li
{
	background:#333A40;
}
#menus li:nth-child(3) li
{
	background:#9F391A;
}
#menus li:last-child li
{
	background:#677F35;
}
/* background des liens menus et sous menus au survol */
#menus li:first-child:hover, #menus li:first-child li:hover
{
	background:#65537A;
}
#menus li:nth-child(2):hover, #menus li:nth-child(2) li:hover
{
	background:#729EBF;
}
#menus li:nth-child(3):hover, #menus li:nth-child(3) li:hover
{
	background:#F6AD1A;
}
#menus li:last-child:hover, #menus li:last-child li:hover
{
	background:#CFFF6A;
}
/* les a href */
#menus a
{
	text-decoration:none;
	display:block;
	padding:8px 32px;
	color:#fff;
	font-family:arial;
}
#menus ul a
{
	padding:8px 0;
}
#menus li:hover li a
{
	color:#fff;
	text-transform:inherit;
}
#menus li:hover a, #menus li li:hover a
{
	color:#000;
}
h1, h2, h3, h4, h5
{
	text-decoration:underline;
	text-align:center;
	font-size:large;
	color:red;
}
.date
{
	text-align: right;
	padding-top:5%;
}
#regles
{
	width:90%;
	margin-left:1%;
	font-size:large;
	color: black;
	font-style:italic;
}
#art1, #art2, #art3, #dispocomp
{
	margin-left:5%;
}
#art1, #art2, #art3, #dispocomp
{
	border-radius:15px;
	background-color:#B0C4DE;
	box-shadow: 5px 5px 5px black;
}